<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Covid Colombia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Corona virus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of data">
    <ion-card-header>
      <ion-card-subtitle>COVID-19</ion-card-subtitle>
      <ion-card-title>Estadisticas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Id Caso: {{item.id_de_caso}}
    </ion-card-content>
    <ion-card-content>
      Ubicación: {{item.ciudad_de_ubicaci_n}}
    </ion-card-content>
    <ion-card-content>
      Situación: {{item.atenci_n}}
    </ion-card-content>
    <ion-card-content>
      Edad: {{item.edad}}
    </ion-card-content>
    <ion-card-content>
      Sexo: {{item.sexo}}
    </ion-card-content>
    <ion-card-content>
      Estado: {{item.estado}}
    </ion-card-content>


  </ion-card>
  
</ion-content>