<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let item of data">
        Id trabajo: {{item.id_trabajo_agenda}} <br>
        Fecha: {{item.fecha}} <br>
        H inicio: {{item.hora_inicio}} <br>
        H fin: {{item.hora_fin}} <br>
        Id espacio: {{item.id_espacio}} <br>
        Id trabajo: {{item.id_trabajo}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
