<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides >

      <ion-slide *ngFor="let item of data">
        <div class="slide">
          <h2>Trabajos</h2>
          Id trabajo: {{item.id_trabajo_agenda}} <br>
          Fecha: {{item.fecha}} <br>
          H inicio: {{item.hora_inicio}} <br>
          H fin: {{item.hora_fin}} <br>
          Id espacio: {{item.id_espacio}} <br>
          Id trabajo: {{item.id_trabajo}}
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
  <style>
    ion-slides {
      height: 100%;
    }

    .swiper-slide {
      display: block;
    }

    .swiper-slide h2 {
      margin-top: 2.8rem;
    }

    .swiper-slide img {
      max-height: 50%;
      max-width: 80%;
      margin: 60px 0 40px;
      pointer-events: none;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: var(--ion-color-step-600, #60646b);
    }

    p b {
      color: var(--ion-text-color, #000000);
    }
  </style>
</ion-content>